nav{
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav li{
    height: 50px;
  }
  
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  
  nav a:hover {
    background-color: #f0f0f0;
  }
  
  nav li:first-child{
    margin-right: auto;
  }
  
  .side-Bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .side-Bar li{
    width: 100%;
  }
  
  .side-Bar a{
    width: 100%;
  }
  
  
  .menu-Button-NavBar{
    display: none;
  }
  
  @media (max-width: 850px){
    .hide-OnMobile-NavBar{
        display: none;
    }
  
    .side-Bar.menu-open{
      display: flex;
    }
  
    .menu-Button-NavBar{
        display: block;
    }

    .navBar-button{
      justify-content: center;
      vertical-align: center;
    }
  }
  
  @media (max-width: 400px){
    .side-Bar{
        width: 100%;
    }
  }
  